%h3= "Состав (#{@tournament.name} #{@seasons.last.name})"
%ul.team-list
  -@footballers.each do |item|
    %li= link_to item.full_name, footballer_path(:id => item.url, :subdomain => false), :target => "_blank"

-content_for :head_title do
  %h1
    = "Команда: "
    %span.team_name= @team.name