.image-loading-container{:style=>"display: none;"}
  = image_tag "ajax-loader.gif"
  %br/
  Идет загрузка...
= form_for @profile, {:url => upload_photo_profile_path, :html => {:multipart => true, :id => "photo-upload-form"}} do |f|
  %label{:for => "photo-upload-field"} Загрузить новое фото:
  = f.file_field :photo, {:class=>"text", :id => "photo-upload-field"}
  .clear
//cropping
- unless @profile.photo.instance.photo_file_name.nil?
  = image_tag @profile.photo.url(:large), :id => "cropbox"
  = form_for @profile, {:url => make_crop_profile_path, :html => {:id => "photo-crop-form"}} do |f|
    - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
      = f.hidden_field attribute, :id => attribute
    .clear
    = f.submit 'Сохранить', :class=>"fancy-button"
  %h3= "Удалить фото"
  %div{:style => "text-align: center; font-weight: bold;"} Не забудьте загрузить новое фото!
  %br/
  = form_for @profile, {:url => destroy_photo_profile_path, :html => {:method => :delete, :id => "photo-delete-form"}} do |f|
    %div{:style => "text-align: center;"}
      %input.fancy-button.blue{:type => "submit", :name => "submit", :value => "Удалить"}

:coffee
  $ ->
    previewNode = document.querySelector("#template")
    previewNode.id = ""
    previewTemplate = previewNode.parentNode.innerHTML
    previewNode.parentNode.removeChild(previewNode)

    myDropzone = new Dropzone(document.body, {
      url: "#{upload_photo_profile_path()}",
      headers: {'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')},
      previewTemplate: previewTemplate,
      paramName: 'profile[avatar]',
      previewsContainer: "#previews",
      clickable: ".fileinput-button"
    })

    myDropzone.on("totaluploadprogress", (progress)->
      $("#total-progress .progress-bar").css("width", progress + "%")
    )

    myDropzone.on("sending", (file)->
      $("#total-progress").css("opacity","1")
    )

    myDropzone.on("queuecomplete", (progress)->
      $('.done-text').css('display', 'block')
      location.reload()
    )

    set_fields = (data)->
      $("#crop_left").val(data.x)
      $("#crop_top").val(data.y)
      $("#crop_width").val(data.width)
      $("#crop_height").val(data.height)

    $('img.cropper').cropper({
      aspectRatio: 1,
      zoomable: false,
      preview: ".profile-photo",
      data: "#{crop_data(@profile).to_json}",
      built: (event)->
        crop_data = $('img.cropper').cropper('getData', 'rounded')
        set_fields(crop_data)

      dragend: (event)->
        crop_data = $('img.cropper').cropper('getData', 'rounded')
        set_fields(crop_data)
    })

    $("#crop-button").on('click', (event)->
      event.preventDefault()
      $("#crop-form").submit()

    )
