<h1>Вход</h1>
<% form_for resource_name, resource, :url => session_path(resource_name) do |f| -%>
  <%= f.error_messages %>

  <fieldset>
    <%= f.label :Email %>
    <p><%= f.text_field :email, :class=>"text" %></p>

    <%= f.label "Пароль" %>
    <p><%= f.password_field :password, :class=>"text" %></p>
    
    <% if devise_mapping.rememberable? -%>
      <p><%= f.check_box :remember_me %><%= f.label "Запомнить меня", {}, {:style => "display: inline;margin:10px;", :for => "user_remember_me"} %></p>
    <% end -%>

    <div class="clear-space">&nbsp;</div>

    <p><%= f.submit "Войти", :class=>"fancy-submit" %></p>

    <%- if devise_mapping.recoverable? %>
      <%= link_to "Забыли пароль?", new_password_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.confirmable? %>
      <%= link_to "Не получили инструкций по активации аккаунта?", new_confirmation_path(resource_name) %><br />
    <% end -%>
  </fieldset>  
<% end -%>


