%h2 8-й Тур

%h4 Пропускают тур
%p
  = "Евгений Кузьмин (Ciklum) - 2 желтые (6 и 7 туры)"
%p
  = "Олег Филлипский (Ronis) - 2 желтые (1 и 7 туры)"


%h2 7-й Тур

%h4 Пропускают тур
%p
  = "Илья Соловьев (Eclipse)"
%p
  = "Андрей Мусиенко (Zfort Group)"

%h4 Карточки
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Михаил Киселев (EPAM Systems) - недисциплинированное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Роман Мозговой (EPAM Systems) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Евгений Кузьмин (Ciklum) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Анатолий Матвеевский (Ciklum) - недисциплинированное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Денис Солошенко (GraceHoppers) - недисциплинированное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Игорь Макарычев (Stella Systems) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Артур Кальницкий (CS-2) - недисциплинированное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Виталий Алекаск (NIX Solutions) - недисциплинированное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Владимир Базакуца (GlobalLogic) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Артем Мищенко (GlobalLogic) - опасная атака соперника"

%h4 Дисциплинарные взыскания
%p
  = "Zfort Group(2) - не вовремя заполненный протокол"
%p
  = "EPAM Systems(1) - забыт комплект карточек"


%h2 6-й Тур

%h4 Пропускают тур
%p
  = "Ярослав Романович (AKVELON)"
%p
  = "Андрей Гаврюшенко (Random United)"

%h4 Карточки
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Владимир Клименко (NIX Solutions) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Евгений Кузьмин (Ciklum) - недисциплинированное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Игорь Федорчук (AKVELON)"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Илья Соловьев (Eclipse) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Эдуард Дударь (Eclipse) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Виноградский Валентин (GlobalLogic) - недисциплинированное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Юрий Ландграф (GlobalLogic) - недисциплинированное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Андрей Мусиенко (Zfort Group) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Андрей Мусиенко (Zfort Group) - опасная атака соперника(вторая желтая)"


%h4 Дисциплинарные взыскания
%p
  = "NIX Solutions(4) - не вовремя заполненный протокол"
%p
  = "NIX Solutions(5) - не вписан цвет формы полевых игроков"
%p
  = "Stella Systems(1) - забыт комплект карточек"
%p
  = "Zfort Group(1) - нет карточек некоторых игроков"
%p
  = "Gameloft(2) - забыт комплект карточек"


%h2 5-й Тур

%h4 Пропускают тур
%p
  = "Александр Киргетов (AKVELON)"

%h4 Карточки
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Антон Кущ (NIX Solutions) - недисциплинированное поведение"
%p
  = image_tag("/images/icons/red_card.png")
  = "Ярослав Романович (AKVELON) - фол последней надежды"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Андрей Гаврюшенко (Random United) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Андрей Малыхин (EPAM Systems) - недисциплинированное поведение"


%h4 Дисциплинарные взыскания
%p
  = "NIX Solutions(3) - забыт комплект карточек"

%h2 4-й Тур

%h4 Пропускают тур
%p
  = "Александр Свиденюк (EPAM Systems)"
%p
  = "Владимир Кононов (Gameloft)"

%h4 Карточки
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Иван Гопей (Gameloft)"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Иван Гопей (Gameloft)"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Константин Фалько (Zfort Group) - недисциплинированное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Сергей Бусенко (Gameloft-II) - недисциплинированное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Артем Иванцов (Gameloft-II) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Роман Жуков (Uteam) - неспортивное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Александр Медреш (Ronis) - неспортивное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Николай Шевченко (NIX Solutions) - неспортивное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Владислав Сорока (Ciklum) - неспортивное поведение"
%p
  = image_tag("/images/icons/red_card.png")
  = "Александр Киргетов (AKVELON) - фол последней надежды"


%h2 3-й Тур

%h4 Пропускают тур
%p
  = "Владимир Сенченко (NIX Solutions)"

%h4 Карточки
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Никита Бондаренко (Gameloft-II) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Александр Свиденюк (EPAM Systems) - опасная атака соперника"
%p
  = image_tag("/images/icons/red_card.png")
  = "Владими Клименко (NIX Solutions) - фол последней надежды"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Денис Блинов (Ronis) - недисциплинированное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Роланд Гаврилов (Ronis) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Левон Вадиянц (Gameloft) - неспортивное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Владимир Кононов (Gameloft) - недисциплинированное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Андрей Гаврюшенко (Random United) - опасная атака соперника"

%h4 Дисциплинарные взыскания
%p
  = "NIX Solutions(1) - несвоевременно заполненный протокол"
%p
  = "NIX Solutions(2) - забыт комплект заявочных карточек"


%h2 2-й Тур

%h4 Пропускают тур
%p
  = "Владимир Сенченко (NIX Solutions)"

%h4 Карточки
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Владимир Кононов (Gameloft) - неспортивное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Сергей Бусенко (Gameloft-II) - неспортивное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Евгений Сало (Gameloft-II) - недисциплинированное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Владислав Ковтунов (Gameloft-II) - нарушение процедуры замены"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Сергей Гончаров (CS) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Станислав Черныш (EPAM Systems) - нарушение процедуры замены"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Александр Свиденюк (EPAM Systems) - неспортивное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Александр Данец (GraceHoppers) - неспортивное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Александр Руденко (Uteam) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Кирилл Салыкин (NIX Solutions) - неспортивное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Дмитрий Арбузов (Ronis) - нарушение процедуры замены"


%h4 Дисциплинарные взыскания
%p
  = "Gameloft(1) - забыт комплект карточек"
%p
  = "Uteam(1) - забыт комплект карточек"
%p
  = "Ciklum(1) - несвоевременно заполненная заявка"


%h2 1-й Тур

%h4 Карточки
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Денис Братчук (Zfort Group) - неспортивное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Ростислав Дружченко (EPAM Systems) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Олег Филлипский (Ronis) - неспортивное поведение"
%p
  = image_tag("/images/icons/red_card.png")
  = "Владимир Сенченко (NIX Solutions) - нецензурное высказывание в адрес арбитра"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Андрей Дехтярь (Random United) - неспортивное поведение"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Антон Сидоренко (Gameloft) - опасная атака соперника"
%p
  = image_tag("/images/icons/yellow_card.png")
  = "Константин Соловьев (Eclipse) - недисциплинированное поведение"

%h4 Дисциплинарные взыскания
%p
  = "Ronis(1) - нет фото на карточке(Роланд Гаврилов)"
%p
  = "Ronis(2) - гетры другого цвета(Александр Медреш)"
%p
  = "Ronis(3) - несоответствие номера в протоколе (Олег Филлипский)"


