= admin_title 'Редактирование Матча'

- form_for [:admin, @match], :builder => JQueryFormBuilder do |f|
  = f.error_messages
  - f.draw("Данные по матчу") do
    = f.date_select :played_at, 'Дата проведения'
    = f.select :referee_id, 'Рефери', Referee.all.collect{ |r| [r.full_name, r.id] }
    = f.select :match_type, 'Тип игры', [['Мини', :mini], ['Большой', :big]], {}, :onchange => update_page{ |p| p << "$('#match_period_duration').val($(this).val() == 'mini' ? 25 : 40)" }
    = f.text_field :period_duration, 'Длительность тайма', :value => 25
    = f.text_area :comment, 'Заметки', :rows => 3
    = f.delimeter 'Статистика'
    = f.select :hosts, 'Хозяева', @teams.collect{ |t| [t.name, t.id] }, {:selected => @match.hosts.team_id, :include_blank => true}, :onchange => match_edit_select_team(:hosts)
    - season_id = @match.tour.league.stage.season_id
    - f.canvas :match_hosts_stats do
      - @match.hosts.team.season_id = season_id
      = render :partial => '/admin/stats/edit_match', :locals => {:side => :hosts, :competitor =>  @match.hosts, :footballers => Footballer.find(@match.hosts.team.footballer_ids)}
    = f.select :guests, 'Гости', @teams.collect{ |t| [t.name, t.id] }, {:selected => @match.guests.team_id, :include_blank => true}, :onchange => match_edit_select_team(:guests)
    - f.canvas :match_guests_stats do
      - @match.guests.team.season_id = season_id
      = render :partial => '/admin/stats/edit_match', :locals => {:side => :guests, :competitor =>  @match.guests, :footballers => Footballer.find(@match.guests.team.footballer_ids)}
    = f.checkbox :create_events, 'Создать игровые события для статистики', :checked => false
