!!!
%html
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title Административная секция: Football.kharkov.ua
    = stylesheet_link_tag '/stylesheets/source/ext-3.3.1/resources/css/ext-all.css'
    -#= stylesheet_link_tag '/admin/application'
    = stylesheet_link_tag '/stylesheets/admin/ux/grid.row_editor.css'
    = javascript_include_tag 'admin/application.js'
    -#= javascript_include_tag 'underscore.js'
    -#= javascript_include_tag '/source/ext-3.3.1/adapter/ext/ext-base.js'
    -#= javascript_include_tag '/source/ext-3.3.1/ext-all.js'
    -#= javascript_include_tag 'admin/ux/layout.js'
    -#= javascript_include_tag 'admin/ux/menu.js'
    -#= javascript_include_tag 'admin/ux/common/name_filter.js'
    -#= javascript_include_tag 'admin/ux/common/SearchField.js'
    -#= javascript_include_tag 'admin/ux/nav/tournament.js'
    -#= javascript_include_tag 'admin/ux/nav/team_footballers.js'
    -#= javascript_include_tag 'admin/ux/grid.row_editor.js'
    -#= javascript_include_tag 'admin/ux/tournament/step_form.js'
    -#= javascript_include_tag 'admin/ux/tournament/match_form.js'
    -#= javascript_include_tag 'admin/ux/tournament/match_events_grid.js'
    -#= javascript_include_tag 'admin/ux/tournament/step_teams_panel.js'
    -#= javascript_include_tag 'admin/ux/tournament/schedules_panel.js'
    -#= javascript_include_tag 'admin/ux/personnel/personnel_panel.js'
    -#= javascript_include_tag 'admin/ux/personnel/team_footballers_panel.js'
    = csrf_meta_tag
    :css
      .icon-expand-all {
        background-image: url(/images/icons/expand-all.gif) !important;
      }

  %body
    #app-toolbar
  :javascript
    Ext.onReady(function() {
      Ext.QuickTips.init();
      
      Ext.ns('Ext.ux.data', 'Ext.ux.data.match');
      Ext.ux.data.tournaments = #{Tournament.all.to_json.html_safe};
      Ext.ux.data.match.referees = #{Referee.all.collect{ |r| [r.id, r.full_name] }.to_json.html_safe};
      Ext.ux.data.match.types = [['mini', 'Мини'], ['big', 'Большой']];
      
      new Ext.ux.Menu({
        tournaments: Ext.ux.data.tournaments
      });
      
      app = new Ext.ux.layout.App();
    });