!!!
%html
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title Административная секция: Football.kharkov.ua
    = stylesheet_link_tag "admin/admin"
    = javascript_include_tag 'admin/jquery/1.4.min.js'
    = jqgrid_stylesheets
    - jqgrid_javascripts
    = javascript_include_tag 'jqgrid/jquery.layout.js'
    = javascript_include_tag 'jqgrid/i18n/grid.locale-ru.js'
    = javascript_include_tag 'jqgrid/jquery.jqGrid.min.js'
    = javascript_include_tag 'jqgrid/jquery.tablednd.js'
    = javascript_include_tag 'jqgrid/jquery.contextmenu.js'
    = javascript_include_tag 'admin/jquery/ui.min.js'
    = javascript_include_tag 'admin/jquery/form.js'
  %body
    #main
      #header
        %img{:src => "/images/admin/logo.gif", :width => 200, :height => 50, :alt => "Football kharkov ua"}/
        = admin_top_menu
      #middle
        #left-column= admin_sidebar
        #center-column= yield
        #right-column
          -#%strong.h INFO
          -#.box Detect and eliminate viruses and Trojan horses, even new and unknown ones. Detect and eliminate viruses and Trojan horses, even new and unknown ones.
      #footer
