<h1>Регистрация</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <label for="user_username">Ник:</label>
    <%= f.text_field :username, :class=>"text" %>
    
    <label for="user_email">Email:</label>
    <%= f.text_field :email, :class=>"text" %>
    
    <label for="user_password">Пароль:</label>
    <%= f.password_field :password, :class=>"text" %>
    
    <label for="user_password_confirmation">Повторите пароль:</label>
    <%= f.password_field :password_confirmation, :class=>"text" %>
    <div class="clear"></div>
    <div style="display:none;">
      <input type="checkbox" name="user[check_field]" value="1" />
    </div>
    <%= f.submit 'Отправить', :class=>"colored-button big primary" %>
  </fieldset>
<% end %>