%h2 Забыли свой пароль?
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  %fieldset
    = devise_error_messages!
    %p
      = f.label :email
      %br/
      = f.text_field :email, :class => "text"
    %p= f.submit "Отправить инструкции по восстановлению пароля", :class=>"colored-button big primary"
= render :partial => "devise/shared/links"
