- for post in @posts
  .content
    - if post.resource_type=='Article'
      = render(:partial => "blog/article_item", :locals => { :post => post })
    - elsif post.resource_type=='SchedulePost'
      = render(:partial => "blog/schedule_post_item", :locals => { :post => post })
    - elsif post.resource_type=='PhotoGallery'
      = render(:partial => "blog/photo_gallery_item", :locals => { :post => post })
    = render :partial => "shared/blog_link_panel", :locals => {:post=>post}
    .clear
= will_paginate @posts

-content_for :head_title do
  %h1.tourament-header
    %span
      = tournament_title
    = link_to image_tag("/images/icons/feed.png", :size => "16x16"), url_for({:action=>"feed", :controller=>"tournaments"}), :class => "feed-link"
    = link_to "Команды", teams_path
    - if current_subdomain=='itleague'
      = link_to "Таблицы", tables_path
    .clear
