- content_for :head_declarations do
  = javascript_include_tag "application/schedule/schedule"
.schedule-page-header
  .schedule-page-wrap
    = link_to image_tag("buttons/prev.png"), "#", {:class => "prev", :style => "float:left;"}
    %h2 Расписание
    = link_to image_tag("buttons/next.png"), "#", {:class => "next", :style => "float:left;"}
    .clear
.wrap-container
  .schedule-content-wrap
    = render :partial => "/schedules/day", :layout => false, :locals => {:schedules => @schedules}
- content_for :top_submenu do
  = "tournament"
:javascript
  $(function() {
    //min_date, max_date, current_date
    Schedule.init("#{@min_date}", "#{@max_date}", "#{@schedules[0].match_on}");
  });
- if !current_user.nil? && MEGA_USER.include?(current_user.id)
  :javascript
    $(function() {
      Schedule.quick_results.init();
    });