.blog_link_panel
  - post_author = User.find(post.author_id)
  - if post.resource_type=='Article'
    - controller = 'article'
  - elsif post.resource_type=='SchedulePost'
    - controller = 'schedule_post'
  - elsif post.resource_type=='PhotoGallery'
    - controller = 'photo_gallery'
  - elsif post.resource_type=='Status'
    - controller = 'statuses'
  %div{:class=>"date_link_cell first"}
    %span= Russian::strftime(post.created_at, "%d %B %Y")
  .author_link_cell= link_to post_author.username, user_url(post_author, subdomain: false)
  .comment_link_cell= link_to( post.comments.count(:conditions => ['parent_id IS NOT NULL']).to_s,post.resource_type=='Status' ? status_path(post.resource.id) : post_item_path(post, "comments"))
  - if post[:status].to_s=='updating'
    .updating_link_cell{:title=>"Публикация в процессе добавления данных"}
      %span Обновляется
  - if user_signed_in? && (current_user[:id]==1)
    %div{:class=>"delete_link_cell last"}= link_to "Удалить", {:controller =>controller, :action =>:delete, :id => post.resource.id}
  - if user_signed_in? && (post.author_id == current_user[:id] || current_user[:id]==1)
    %div{:class=>"edit_link_cell last"}= link_to "Править", {:controller =>controller, :action =>:edit, :id => post.resource.id}
.clear