<div class="blog_link_panel">
    <% if post.resource_type=='Article' %>
      <% controller = 'article' %>
    <% elsif post.resource_type=='PhotoGallery' %>
      <% controller = 'photo_gallery' %>
    <% end %>
    <div class="date_link_cell first"><span><%= Russian::strftime(post.created_at, "%B %d, %Y") %></span></div>
    <div class="author_link_cell"><%= link_to User.find(post.author_id).username, '#' %></div>
    <div class="comment_link_cell">
      <%= link_to( post.comments.count(:conditions => ['parent_id IS NOT NULL']).to_s, post_url({:year => post.created_at.strftime('%Y'), :month => post.created_at.strftime('%m'), :day => post.created_at.strftime('%d'), :url => !post.url.nil? ? post.url : '', :anchor => "comments"})) %>
    </div>
    <% if post[:status].to_s=='updating' %>
        <div class="updating_link_cell" title="Публикация в процессе добавления данных"><span>Обновляется</span></div>
    <% end %>
    <div class="social_link_cell">
      <%= social_button('twitter',post.title, post_url({:year => post.created_at.strftime('%Y'), :month => post.created_at.strftime('%m'), :day => post.created_at.strftime('%d'), :url => !post.url.nil? ? post.url : ''})) %>
      <%= social_button('facebook', post.title, post_url({:year => post.created_at.strftime('%Y'), :month => post.created_at.strftime('%m'), :day => post.created_at.strftime('%d'), :url => !post.url.nil? ? post.url : ''})) %>
      <%= social_button('vkontakte', post.title, post_url({:year => post.created_at.strftime('%Y'), :month => post.created_at.strftime('%m'), :day => post.created_at.strftime('%d'), :url => !post.url.nil? ? post.url : ''})) %>
    </div>
    <% if user_signed_in? && (post.author_id == current_user[:id] || current_user[:id]==1) %>
        <div class="edit_link_cell last"><%= link_to "Править", {:controller =>controller, :action =>:edit, :id => post.resource.id}%></div>
    <% end %>
</div>
<div class="clear"></div>
