<h2 id="comments">Комментарии:</h2>
<div class="clear"></div>
<% if  user_signed_in? %>
<%= render :partial => "shared/subscribe_comments_block", :locals => {:post_id => post.id} %>
<% end %>  
<div>
  <ul class="comment" id="comment-tree">
  <% if !post.comments.find_by_parent_id(nil).nil? %>
    <% comments = post.comments.find_by_parent_id(nil).all_children %>
    <%if !comments.empty? %>
      <% comments.each do |item| %>
      <li id="comment-<%=item.id %>">
          <div style="margin-left: <%= 20 * (item.level-1) %>px; ">
            <p class="comment-author">
              <%= User.find(item.author_id).username %> | 
              <%= Russian::strftime(item.created_at, "%B %d, %Y; %H:%M") %>
            </p>
            <p class="comment-body">
              <% item.body %>
              <%= show_comment(post, item) %>
            </p>
            <% if user_signed_in? %>
              <p class="comment-reply">
                (<a href="#" onclick="addCommentForm(<%=item.id%>, <%=item.level%>, <%=post.id%>);return false;">ответить</a>)
              </p>  
            <% end %>  
          </div>
      </li>
      <% end %>
    <% end %>
  <% end %>
  </ul>
</div>
<% unless user_signed_in? %>
  <%= link_to 'Зарегистрируйтесь', {:controller => :users, :action => :new}%> или <%= link_to 'Войдите', {:controller => :users, :action => :sign_in}%> чтобы комментировать!
<% else %>
  <%= javascript_include_tag 'jquery-plugins/jquery_form/jquery.form' %>
  <%= javascript_include_tag 'application/comment/comment.js' %>
  <div class="clear"></div>
  <div>
    <div class="error" id="comment-errors" style="display: none;"></div>
    <div style="text-align: center;width:300px;display: none;" id="new-comment-loading"><img src="/images/ajax-loader.gif" /></div>
    <% form_for :comment, Comment.new, :url => {:controller => :comment, :action => :create, :id => 'new'}, :html => {:id => 'new-comment-post', :method => :post} do |f| %>
    <%= f.hidden_field :post_id, :value => post.id %>
    <%= f.text_area :body, :cols => 30, :rows => 5, :style => "height: 100px; width: 300px;" %>
    <div class="clear"></div>
    <p>
      <input type="submit" class="fancy-submit" value="Отправить"/>
    </p>
    <%end%>
  </div>
<% end %>
