.sidebar-block
  .sidebar-block-header
    %h4= @opts[:title]
  #profile-photo-menu-container{:style => "padding:3px;"}
    .avatar{:style => "text-align: center;"}
      - unless @profile.photo.nil?
        = image_tag @profile.photo.url(:medium)
      - else
        = image_tag "default_photo.jpg"
    - unless @profile.user.footballer.nil?
      %p
        Он же:
        = link_to @profile.user.footballer.full_name, footballer_path(@profile.user.footballer.url)
    %p= "Зарегистрирован: " +  Russian::strftime(@profile.created_at, "%d %B %Y")
    %p= "Статей: " + Post.count(:conditions => ["author_id = #{@profile.user_id}"]).to_s
    %p= "Комментариев: " + Comment.count(:conditions => ["author_id = #{@profile.user_id} AND parent_id IS NOT NULL"]).to_s
-#    - unless @profile.photo.nil?
-#      = link_to "Редактировать", edit_user_profile_path(@profile.user)
-#    - else
-#      = link_to "Добавить", new_user_profile_path(@profile.user)
-#%ul#left-sidebar-menu
-#  %li= link_to 'Профиль', user_path(@profile.user)
-#  -#- if @opts[:signed_in] && @opts[:current_user].id == @profile.user.id
-#  - if user_signed_in? && current_user.id == @profile.user.id
-#    %li= link_to 'Редактировать профиль', edit_profile_path
-#
-#        