<%= javascript_include_tag :fckeditor %>
<%= javascript_include_tag 'jquery-plugins/one_click_upload/jquery.ocupload-1.1.2.packed' %>
<%= javascript_include_tag 'application/article/main_image.js' %>
<h1>Редактирование записи</h1>
<%= error_messages_for :article %>

<% form_for @article, :url =>{:action=>'update', :id=>@article.id} do |f| %>
  <fieldset>
    <%= hidden_field :article_image, :file, :value => (!@article_image.nil? ? @article_image.file : '')  %>
    <div id="preview-container" style="text-align:center;"></div>
    <div id="image-loading-container" class="image-loading-container">
      <%= image_tag '/images/ajax-loader.gif' %>
    </div>
    <div class="link-with-icon-container" id="upload-link-container">
      <a href="#" id="upload-link" class="add-image-link">Добавить иллюстрацию</a>
    </div>
  </fieldset>

  <fieldset>
    <label for="post_title">Заголовок:</label>
    <%= text_field :post, :title, :class=>"text long-input", :value => @article.post.title %>

    <label for="article_body">Текст:</label>
    <div>
        <%= fckeditor_textarea(:article, :body, :toolbarSet => 'Football', :width => '95%', :height => '500px') %>
    </div>

    <label for="post_title">Относится к турниру:</label>
    <%= select :post, :tournament_id, Tournament.all.collect {|p| [ p.name, p.id ] }, {:selected => @article.post[:tournament_id], :include_blank => true} %>
    <div class="clear"></div><br />
    
    <label for="post_title">Теги/темы:</label>
    <%= text_field :post, :tag_list, :value => tags_string(@article.post.tag_list), :class=>"text long-input" %>

    <label for="post_title">Статус публикации:</label>
    <%= select :post, :status, Post::STATUSES.collect(&:reverse), {:selected => @article.post[:status]} %>
    <div class="clear"></div><br />

    <%= check_box :post, :hide_comments, {:checked => @article.post[:hide_comments]} %>
    <label for="post_hide_comments" style="display:inline;">Спрятать комментарии</label>
  </fieldset>
  <div class="clear"></div>
<%= f.submit "Сохранить", :class=>"fancy-button" %>
<%end%>
<script language="javascript">
  uploaded_file_path = '/images/articles/<%=  @article.post.created_at.strftime("%Y-%m-%d") %>/';
  article_image_article = '<%=(!@article_image.nil? ? @article_image.title : '')%>'
</script>