-#= javascript_include_tag :ckeditor
= javascript_include_tag "ckeditor/init"
%h1 Редактирование записи
= error_messages_for :article

= form_for @article, :url =>{:action=>'update', :id=>@article.id} do |f|
  %fieldset
    %label{for:"post_title"} Заголовок:
    = text_field :post, :title, :class=>"text long-input", :value => @article.post.title

    %label{for: "article_body"} Текст:
    %div= f.cktext_area(:body, :toolbarSet => 'Football', :width => '95%', :height => '500px')

    %label{for:"post_title"} Относится к турниру:
    = select :post, :tournament_id, Tournament.all.collect {|p| [ p.name, p.id ] }, {:selected => @article.post[:tournament_id], :include_blank => true}

    .clear
    %br/

    %label{for:"post_title"} Статус публикации:
    = select :post, :status, Post::STATUSES.collect(&:reverse), {:selected => @article.post[:status]}

    .clear
    %br/

    = check_box :post, :hide_comments, {:checked => @article.post[:hide_comments]}
    %label{for:"post_hide_comments", style:"display:inline;"} Спрятать комментарии

  .clear
  = f.submit "Сохранить", :class=>"colored-button big primary"

%script{language:"javascript"}
  uploaded_file_path = "/images/articles/#{@article.post.created_at.strftime("%Y-%m-%d")}/";
  article_image_article = "#{(!@article_image.nil? ? @article_image.title : '')}"