<h1><%= @post.title %></h1>
<% if @post.resource_type=='Article' %>
  <%= render(:partial => "article_show", :locals => { :post => @post }) %>
<% elsif @post.resource_type=='PhotoGallery' %>
  <%= render(:partial => "photo_gallery_show", :locals => { :post => @post }) %>
<% end%>

<%= render :partial => "shared/blog_link_panel", :locals => {:post=>@post} %>

<%= render :partial => "shared/comment_block", :locals => {:post=>@post}%>