<h1>Забыли пароль?</h1>

<% form_for resource_name, resource, :url => password_path(resource_name) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <%= f.label :Email %>
    <p><%= f.text_field :email, :class => "text" %></p>

    <p><%= f.submit "Выслать инструкции по восстановлению пароля", :class=>"fancy-button" %></p>

    <%- if devise_mapping.confirmable? %>
      <%= link_to "Не получили инструкций по подтверждению аккаунта?", new_confirmation_path(resource_name) %><br />
    <% end -%>
  </fieldset>
<% end %>