= link_to image_tag(image, {:width => "#{!width.blank? ? width : "" }", :height => "#{!height.blank? ? height : "" }"}), url , {:style=>"display: block;", :target => "_blank"}
%p
  = link_to "#{name}<br />#{price}".html_safe, url, {:target => "_blank"}