.sidebar-block
  .sidebar-block-header
    %h4= @opts[:title]
  .bd
    %ul.quick_match_results
      - @quick_results.each_with_index do |item, i|
        - winner_class = "winner_score"
        - loser_class = "loser_score"
        - hosts_class = ""
        - guests_class = ""
        - if item.hosts_score > item.guests_score
          - hosts_class = winner_class
          - guests_class = loser_class
        - elsif item.hosts_score < item.guests_score
          - hosts_class = loser_class
          - guests_class = winner_class
        -row_class = i%2 == 0 ? "even" : ""
        %li{:class => row_class}
          .hosts{:style=> ""}= item.hosts
          .score-container{:style=>"float: left;width: 34px;margin:0 3px;"}
            .score{:class => hosts_class }= item.hosts_score
            .score.score-right{:class => guests_class }= item.guests_score
          .guests= item.guests
          .clear


