<h1>Editing match_event_type</h1>

<% form_for(@match_event_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :symbol %><br />
    <%= f.text_field :symbol %>
  </p>
  <p>
    <%= f.label :template %><br />
    <%= f.text_field :template %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @match_event_type %> |
<%= link_to 'Back', match_event_types_path %>