<h1>Listing match_event_types</h1>

<table>
  <tr>
    <th>Symbol</th>
    <th>Template</th>
  </tr>

<% @match_event_types.each do |match_event_type| %>
  <tr>
    <td><%=h match_event_type.symbol %></td>
    <td><%=h match_event_type.template %></td>
    <td><%= link_to 'Show', match_event_type %></td>
    <td><%= link_to 'Edit', edit_match_event_type_path(match_event_type) %></td>
    <td><%= link_to 'Destroy', match_event_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New match_event_type', new_match_event_type_path %>