%h2.tournament-subtitle Турнирная таблица

%table.tournament-position
  %tr
    %th{:colspan => 9} Основная группа
  %tr.header
    %td.place
      Место
    %td.team
      Команда
    %td.games
      Игры
    %td
      В
    %td
      Н
    %td
      П
    %td.goals
      Мячи
    %td.diff
      +/-
    %td
      Очки
  %tr.odd
    %td.place
      1
    %td.team
      ОВИС
    %td.games
      2
    %td
      2
    %td
      0
    %td
      0
    %td.goals
      30-7
    %td.diff
      +23
    %td.scores
      6
  %tr
    %td.place
      2
    %td.team
      Mitsubishi
    %td.games
      2
    %td
      2
    %td
      0
    %td
      0
    %td.goals
      22-10
    %td.diff
      +12
    %td.scores
      6
  %tr.odd
    %td.place
      3
    %td.team
      Volkswagen
    %td.games
      2
    %td
      1
    %td
      0
    %td
      1
    %td.goals
      14-15
    %td.diff
      \-1
    %td.scores
      3
  %tr
    %td.place
      .position-change.up= "+3"
      4
    %td.team
      Opel
    %td.games
      2
    %td
      1
    %td
      0
    %td
      1
    %td.goals
      11-16
    %td.diff
      \-5
    %td.scores
      3
  %tr.odd
    %td.place
      .position-change.down= "-1"
      5
    %td.team
      ХАК
    %td.games
      2
    %td
      1
    %td
      0
    %td
      1
    %td.goals
      7-16
    %td.diff
      \-9
    %td.scores
      3
  %tr
    %td.place
      .position-change.up= "+2"
      6
    %td.team
      Сборная FBM
    %td.games
      2
    %td
      1
    %td
      0
    %td
      1
    %td.goals
      7-18
    %td.diff
      \-11
    %td.scores
      3
  %tr
    %td.place
      .position-change.down= "-2"
      7
    %td.team
      Niva Pro Z
    %td.games
      2
    %td
      0
    %td
      0
    %td
      2
    %td.goals
      4-7
    %td.diff
      \-3
    %td.scores
      0
  %tr
    %td.place
      .position-change.down= "-2"
      8
    %td.team
      ЗАЗ+Москвич
    %td.games
      2
    %td
      0
    %td
      0
    %td
      2
    %td.goals
      9-15
    %td.diff
      \-6
    %td.scores
      0