%h2
  = link_to(post.tournament.short_name, tournament_url(:subdomain => post.tournament.url), :class => "tournament") if !post.tournament.nil? & current_subdomain.nil? 
  - if !post.tournament.nil? & current_subdomain.nil?
    %span.right-arrow= ">"
  = link_to post.title, post_item_path(post)
%div
  - title_image = !post.resource.article_image.nil? ? image_tag("/images/articles/#{post.created_at.strftime("%Y-%m-%d")}/#{post.resource.article_image.file}", :class=>"article-title-image", :alt =>post.resource.article_image.title ) : ''
  = Hpricot(title_image + article_announce(post.resource.body)).to_html
  %br/
  .clear
  = link_to("читать дальше".capitalize, post_url({:year => post.created_at.strftime('%Y'),
                                                  :month => post.created_at.strftime('%m'),
                                                  :day => post.created_at.strftime('%d'),
                                                  :url => !post.url.nil? ? post.url : '', :anchor => "announce-breaker"}))
