= admin_title 'Новая Команда'

- form_for [:admin, Team.new], :builder => JQueryFormBuilder do |f|
  = f.error_messages
  - f.draw 'Новая Команда' do
    = f.text_field :name, 'Имя'
    = f.text_field :url, 'Url'
    = f.delimeter 'Игроки, играющие в команде'
    - footballers = Footballer.all.collect{ |t| [t.full_name, t.id] }
    = f.train_select :footballer_ids, footballers, {:selected => id, :include_blank => true}
