- content_for :head_declarations do
  = stylesheet_link_tag "jquery-plugins/jquery.jcrop", :media => "all"
  = javascript_include_tag "application/profile/profile"
  = javascript_include_tag "jquery-plugins/jquery.jcrop.min"
.image-loading-container{:style=>"display: none;"}
  = image_tag "/images/ajax-loader.gif"
  %br/
  Идет загрузка...

%p{:style => "color: #BE420E; font-weight: bold;"}= "Внимание! Убедительно просим загружать вашу актуальную фотографию, на которых четко будет видно лицо. Мультяшных героев, логотипы команд, ваши детские фото и др. можете использовать для аватара вашего профиля пользователя. В противном случае вы можете быть лишены возьможности управления этой страницей."

- form_for :footballer, @footballer, {:url => footballer_upload_photo_path, :html => {:multipart => true, :id => "photo-upload-form"}} do |f|
  %label{:for => "photo-upload-field"} Загрузить новое фото:
  = f.file_field :photo, {:class=>"text", :id => "photo-upload-field"}
  .clear
//cropping
- unless @footballer.photo.instance.photo_file_name.nil?
  = image_tag @footballer.photo.url(:large), :id => "cropbox"
  - form_for :footballer, @footballer, {:url => footballer_upload_photo_path, :html => {:id => "photo-crop-form"}} do |f|
    - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
      = f.hidden_field attribute, :id => attribute
    .clear
    = f.submit 'Сохранить', :class=>"fancy-button"
  %h3= "Удалить фото"
  %div{:style => "text-align: center; font-weight: bold;"} Не забудьте загрузить новое фото!
  %br/
  - form_for :footballer, @footballer, {:url => footballer_destroy_photo_path, :html => {:method => :delete, :id => "photo-delete-form"}} do |f|
    %div{:style => "text-align: center;"}
      %input.fancy-button.blue{:type => "submit", :name => "submit", :value => "Удалить"}

  :javascript
    $(function() {
      var options = {
        original_width: "#{@footballer.avatar_geometry(:original).width}",
        large_width:    "#{@footballer.avatar_geometry(:large).width}",
        large_height:   "#{@footballer.avatar_geometry(:large).height}",
        x_left:         "#{@footballer.crop_x_left || 0}",
        y_top:          "#{@footballer.crop_y_top || 0}",
        x_right:        "#{@footballer.crop_x_left.nil? ? "200" : (@footballer.crop_x_left + @footballer.crop_width)}",
        y_bottom:       "#{@footballer.crop_y_top.nil? ? "200" : (@footballer.crop_y_top + @footballer.crop_height)}"
      }
      Application.crop.init(options);
    });

:javascript
  $(function() {
    Application.photo_upload.init();
  });