<script language="javascript">

</script>
%p
  Итак, вы утверждаете, что вас зовут
  %strong= "#{@footballer.full_name}"
  ?
  - unless @footballer.birth_date.nil?
    И вы родились
    %strong= "#{Russian::strftime(@footballer.birth_date, "%d %B %Y года")}"
    ?
%p
  Вы уверены в этом? Если есть хоть малейшие сомнения - остановитесь!
  Возможно вы просто почитатель таланта этого игрока. В таком случае откажитесь от своих преступных намерений и не продолжайте процесс присваивания его профиля.
%p
  Если же вы, будучи в здравом уме и трезвой памяти, продолжаете утверждать что являетесь этим футболистом - вам необходимо предоставить некоторые доказательства.
  Есть два варианта:
  %ol
    %li
      Вы просто проходите авторизацию через:
      %br/
      %strong= link_to "Vkontakte.ru", oauth_provider_path(:provider => "vkontakte", :action => "create", :footballer_id => @footballer.id)
      %br/
      или же
      %br/
      %strong= link_to "Facebook.com", oauth_provider_path(:provider => "facebook", :action => "create", :footballer_id => @footballer.id)
    %li
      С помощью формы - вы отправляете нам скан документа подтверждающего вашу личность (принимается скан первой страницы паспорта или водительского удостоверения)
      %br/
      %br/
      / :user_connect_footballer_request, 
      - form_for UserConnectFootballerRequest.new, :url => oauth_provider_path(:action => "scan_auth", :provider => "vkontakte"), :html => { :multipart => true } do |f|
        = f.hidden_field :footballer_id, :value => @footballer.id
        = f.file_field :photo
        = submit_tag "Отправить", :class => "fancy-button", :style => "color: #FFF;"
%br/
%p
  P.S. Безусловно, мы понимаем что и сканы и страничку вконтакте можно подделать. Но мы отказались от идеи сканировать сетчатку вашего глаза с помощью скрипта на javascript, и просто надеемся на ваше благоразумие и порядочность.


