<script language="javascript">

</script>
-#= "Итак, вы утверждаете что вас зовут"
-#%strong=
%p
  Итак, вы утверждаете, что вас зовут
  %strong= "#{@footballer.full_name}"
  ?
  - unless @footballer.birth_date.nil?
    И вы родились
    %strong= "#{Russian::strftime(@footballer.birth_date, "%d %B %Y года")}"
    ?
%p
  Вы уверены в этом? Если есть хоть малейшие сомнения - остановитесь!
  Возможно вы просто почитатель таланта этого игрока. В таком случае откажитесь от своих преступных намерений и не продолжайте процесс присваивания его профиля.
%p
  Если же вы, будучи в здравом уме и трезвой памяти, продолжаете утверждать что являетесь этим футболистом - вам необходимо предоставить некоторые доказательства.
  Есть два варианта:
  %ol
    %li
      Вы просто проходите авторизацию через vkontakte.ru - нажав вот эту кнопку:
      = link_to "Авторизация vkontakte.ru", vkontakte_oauth_path(:action => "start")
      <a href="http://api.vk.com/oauth/authorize?client_id=2304423&redirect_uri=http://football.kharkov.ua/&scope=offline&display=wap">Вконтакте.ru</a>

    %li С помощью формы - вы отправляете нам скан документа подтверждающего вашу личность (принимается скан первой страницы паспорта или водительское удостоверение)

  P.S. Безусловно, мы понимаем что и сканы и страничку вконтакте можно подделать. Но мы отказались от идеи сканировать сетчатку вашего глаза с помощью скрипта на javascript, и просто надеемся на ваше благоразумие и порядочность.


