- content_for :head_declarations do
  = stylesheet_link_tag "/javascripts/jquery-plugins/fancybox/jquery.fancybox-1.3.4.css", :media => "all"
  = javascript_include_tag "jquery-plugins/fancybox/jquery.fancybox-1.3.4.pack"
  = javascript_include_tag "jquery-plugins/fancybox/jquery.easing-1.3.pack"

-#%h1.tournament-subtitle= "Футболист: #{@footballer.full_name}"

-#.photo_block
-#  - unless @footballer.photo.nil?
-#    = link_to image_tag(@footballer.photo.url(:medium)), @footballer.photo.url(:original), :id => "footballer_photo"
-#  - else
-#    = image_tag "default_footballer_avatar.jpg"
-#

.info_container
  %h3= "Общие данные"
  - unless @footballer.birth_date.nil?
    %p
      %strong= "Дата рождения:"
      = Russian::strftime(@footballer.birth_date, "%d %B %Y года")
      %br/
      %br/
  %h3= "Краткая информация по участию в турнирах"

  - @tournaments_teams.each do |tournament_team|
    = render "tournament_info_block", :tournament_team => tournament_team

  %h3= "Ближайшие матчи"
  = render "schedule_info_block", :schedules => @schedules
  
.clear
      
:javascript
  $(function() {
    $("a#footballer_photo").fancybox();
  });
  
  
  
-#%h3= "Принимал участие в турнирах:"
-#%ul.team-list
-#  -@tournaments_take_part.each do |item|
-#    %li= "#{item.tournament_name} #{item.season_name}: в составе команды \"#{link_to(item.team_name, team_path(item.team_address), :target => "_blank")}\"".html_safe

