%h2.tournament-subtitle= "Футболист: #{@footballer.full_name}"
%h3= "Принимал участие в турнирах:"
%ul.team-list
  -@tournaments_take_part.each do |item|
    %li= "#{item.tournament_name} #{item.season_name}: в составе команды \"#{link_to(item.team_name, team_path(item.team_address), :target => "_blank")}\""