-@leagues.each do |item|
  %strong
    =item[:name]
  .clear
  =select_tag "tour", options_for_select(item.tours.collect{|x| [x.name, x.id]}), {:selected => item.tours.last.nil? ? '' :  item.tours.last[:id]}
  .clear
  %div{:id =>"league_tour_content_#{item[:id]}"}
    -if (!item.tours.nil? && !item.tours.empty?) 
      -item.tours.last.matches.each do |match|
        %div
          =check_box_tag "match[]", match[:id], false, {:id=>"match_#{item[:id]}_#{match[:id]}"}
          %label{:style=>"display:inline;", :for => "match_#{item[:id]}_#{match[:id]}"}= match_label(match)
        .clear
      %div
        =check_box_tag "check_all_#{item[:id]}", 1, false, {:id=>"check_all_id_#{item[:id]}"}
        %label{:style=>"display:inline;", :for => "check_all_id_#{item[:id]}"} Выбрать все
      .clear
  %hr
.clear
%input{:type=> "submit", :value => "Сохранить", :name => "commit", :id=>"article_submit", :class => "fancy-button"}