!!!
%html{'xmlns' => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", :"http-equiv"=>"Content-Type"}/
    %meta{:name => "description", :content=>"Душевный харьковский футбол и все что с ним связано"}/
    %title= (@page_title ||= 'Харьков футбольный')
    %link{:rel=>"alternate", :type => "application/rss+xml", :title => "RSS", :href => "http://football.kharkov.ua/feed"}/
    %link{:rel=>"icon", :type => "image/x-icon", :href => "/favicon.ico"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"
    :javascript
      if (typeof(jQuery) == 'undefined') {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = '/javascripts/jquery.min.js';

        var scriptHook = document.getElementsByTagName('script')[0];
        scriptHook.parentNode.insertBefore(script, scriptHook);
      }
    = javascript_include_tag "application"
    -#= javascript_include_tag "jquery-plugins/jquery.tools.min"
    -#= javascript_include_tag "jquery-plugins/jquery.scrollTo-min.js"
    = csrf_meta_tag
    - unless request.subdomain.nil?
      = javascript_include_tag "application/schedule/schedule"
    -#/[if lt IE 7]
    = stylesheet_link_tag 'ie6.css', :media => 'screen, projection'
    = yield :head_declarations
  %body
    #minHeight
    #outer
      #inner
        / Header
        #header
          #header-block
            = link_to image_tag("logo.gif", :height=>"85", :alt=>"Харьков футбольный"), root_url(subdomain: false), {:title=> "Харьков Футбольный", :id => "logo-link"}
            - if user_signed_in?
              =render :partial => 'shared/user_block'
            - else
              = render :partial => 'shared/login'
            = render :partial => 'shared/top_menu'
        / EOF Header
      / Container
      #container
        - top_submenu_type =  content_for(:top_submenu).strip!.to_s
        - if ("tournament" == top_submenu_type && !request.subdomain.nil?)
          = render :partial => "tournaments/#{request.subdomain}_top_submenu"
        - elsif "user" == top_submenu_type
          = render :partial => "users/top_submenu"
        - else
          = render :partial => "shared/top_submenu"
        #near-scroll-panel
          = link_to(image_tag("http://twitter-badges.s3.amazonaws.com/t_logo-b.png", :alt => "Follow Footballkharkov on Twitter", :title => "Follow Footballkharkov on Twitter"), "http://www.twitter.com/footballkharkov" , {:class => "button-container", :rel => "nofollow", :target => "_blank"})
          = link_to(image_tag("rss_icon.png", :alt => "RSS Лента новостей", :title => "RSS Лента новостей"), "/feed" , {:class => "button-container", :target => "_blank"})
        = yield(:content)
      / EOF Container
    #clearfooter

    / footer
    #footer &copy; Football.kharkov.ua
    / end footer
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      var pageTracker = _gat._getTracker("UA-2028404-8");
      pageTracker._trackPageview();
