-inside_layout 'app' do
  /left column
  #col-left
    - if flash[:error]
      #main-error-block.error= flash[:error]
    -if flash[:warning]
      #main-notice-block.notice= flash[:warning]
    -if flash[:notice]
      #main-success-block.notice= flash[:notice]
    = yield 
  /eof left column

  /right column
  #col-right
    = render_cell :sidebar_block, :news, :title => "Новенькое", :subdomain => current_subdomain
    = render_cell :sidebar_block, :shop, :title => "Амуниция"
    = render_cell :sidebar_block, :comments, :title => "Комментарии", :subdomain => current_subdomain     
