-inside_layout 'app' do
  /left column
  #col-left
    - if flash[:error]
      #main-error-block.error= flash[:error]
    -if flash[:warning]
      #main-notice-block.notice= flash[:warning]
    -if flash[:notice]
      #main-success-block.notice= flash[:notice]
    = yield 
  /eof left column

  /right column
  #col-right
    - if !current_subdomain.nil? || post_belongs_2_subdomain?
      = render_cell :sidebar_block, :quick_results, :title => "Блиц-результаты", :subdomain => !current_subdomain.nil? ? current_subdomain : post_subdomain
    - if current_subdomain.nil?
      = render_cell :sidebar_block, :news, :title => "Новенькое", :subdomain => current_subdomain
    - if current_subdomain=='itleague'  || (post_belongs_2_subdomain? && post_subdomain == "itleague")
      = render_cell :sidebar_block, :advertisement, :title => "Спонсоры", :subdomain => current_subdomain
    = render_cell :sidebar_block, :shop, :title => "Амуниция"
    = render_cell :sidebar_block, :comments, :title => "Комментарии", :subdomain => current_subdomain
