-inside_layout 'app' do
  /left column
  #col-left
    - if flash[:error]
      #main-error-block.error= flash[:error]
    -if flash[:warning]
      #main-notice-block.notice= flash[:warning]
    -if flash[:notice]
      #main-success-block.notice= flash[:notice]
    = yield 
  /eof left column

  /right column
  #col-right
    .sidebar-block
      .sidebar-block-header
        %h4 Подписка
        =link_to image_tag("/images/rss.gif"), {:controller => 'feed'}, {:class => "rss-icon-link"}
        =link_to image_tag("/images/twit.gif"), 'http://twitter.com/footballkharkov/', {:class => "twitter-icon-link"}
      .clear
      /rss2email
      %form{:action => "http://www.rss2email.ru/ready.asp", :method => "get"}
        %input{:type => "hidden", :name => "rss", :value => "http://football.kharkov.ua/feed"}
        %input{:type=>"hidden", :name => "link", :value => "http://football.kharkov.ua"}
        %input{:type=>"hidden", :name=>"logo", :value=>"http://football.kharkov.ua/images/logo.gif"}
        Рассылка на E-mail
        .clear
        %input{:type => "text", :class => "text", :style => "width:150px;", :size => "20", :name => "email", :value => "Ваш E-mail", :onfocus => "if (this.value=='Ваш E-mail') this.value='';"}
        %input{:type => "submit", :class => "fancy-submit", :style => "font-weight:bold;", :value => "Do it!"}
    .sidebar-block
      %h4 Магазин
      .sidebar-partners
        - r = rand(3).to_i
        - if r==1
          = link_to image_tag("http://shop.football.kharkov.ua/files/products/245_0.jpg", {:width => "150"}) + '<br />Nike Mercurial Victory IC<br /><strong>865.00 грн</strong>', 'http://shop.football.kharkov.ua/products/Nike_Mercurial_Victory_IC', {:style=>"display: block;", :target => "_blank"}
        - elsif r==2
          = link_to image_tag("http://shop.football.kharkov.ua/files/products/252_0.jpg", {:width => "150"}) + '<br />Манишки<br /><strong>30.00 грн</strong>', 'http://shop.football.kharkov.ua/products/Winner_%D0%9C%D0%B0%D0%BD%D0%B8%D1%88%D0%BA%D0%B8', {:style=>"display: block;", :target => "_blank"}
        - else r==3
          = link_to image_tag("http://shop.football.kharkov.ua/files/products/206_large.jpg", {:width => "150"}) + '<br />Мяч Select Futsal Master<br /><strong>380.00 грн</strong>', 'http://shop.football.kharkov.ua/products/%D0%9C%D1%8F%D1%87_%D0%B4%D0%BB%D1%8F_%D1%84%D1%83%D1%82%D0%B7%D0%B0%D0%BB%D0%B0_Select_Sport_Futsal_Master', {:style=>"display: block;", :target => "_blank"}
    .sidebar-block
      %h4 Новенькое
      %ul
        - Post.paginate(:page => 1, :per_page => 5, :order => 'created_at DESC').each do |item|
          %li= link_to item.title, post_url({:year => item.created_at.strftime('%Y'), :month => item.created_at.strftime('%m'), :day => item.created_at.strftime('%d'), :url => !item.url.nil? ? item.url : ''})
    .sidebar-block
      %h4 Комментарии
      %ul
        - Comment.paginate(:page => 1, :per_page => 10, :order => 'created_at DESC', :include => {:post , :user}, :conditions => ["parent_id IS NOT NULL"]).each do |item|
          %li
            = "#{item.user.username} (#{Russian::strftime(item.created_at, "%B %d; %H:%M")})"
            %br
            =link_to(item.post.title, post_url({:year => item.post.created_at.strftime('%Y'), :month => item.post.created_at.strftime('%m'), :day => item.post.created_at.strftime('%d'), :url => !item.post.url.nil? ? item.post.url : '', :anchor => "comment-#{item.id}"}))