- content_for :content do
  /left column
  #col-left
    = yield
  /eof left column

  /right column
  #col-right
    = render_cell :user, :sidebar, :title => "О пользователе"
    = render_cell :sidebar_block, :user_comments, :title => "Комментарии"

- content_for :top_submenu do
  = "user"

= render :template => 'layouts/app'