- content_for :head_declarations do
  = stylesheet_link_tag "user", :media => "all"
- content_for :content do
  %h1= @title ||= 'Футбольный сайт'
  = render :partial => "profiles/tab_navigation"
  /content
  #left-sidebar
    = render_cell :user, :sidebar
    = render_cell :user, :statbar
  #posts
    -unless @posts.nil? || @posts.length == 0
      %h4
        = "Статьи:"
        = link_to image_tag("/images/icons/feed.png", :size => "16x16"), url_for({:action=>"feed", :controller=>"users"}), :class => "feed-link"
      = render :template => "blog/index"
  /eof center column
  #right-sidebar
    = render_cell :sidebar_block, :user_comments, :title => "Комментарии"
  #col-left
    - if flash[:error]
      #main-error-block.error= flash[:error]
    -if flash[:warning]
      #main-notice-block.notice= flash[:warning]
    -if flash[:notice]
      #main-success-block.notice= flash[:notice]
    = yield
  /eof left column
= render :template => 'layouts/app'