- form_for @schedule, :url => {:action => "create"} do |f|
  =select_tag(:tournament_id, options_from_collection_for_select(@tournaments, "id", "name"), {:selected => cookies[:schedule_tournament_id]})
  =f.select(:tour_id, @tours.collect{|obj| [obj.name, obj.id]}, {:selected => @tours.last.id})

  =f.hidden_field(:host_team_id)
  =f.hidden_field(:guest_team_id)

  =text_field_tag(:host_team)
  =text_field_tag(:guest_team)

  =f.select(:venue_id, @venues.collect{|obj| [obj.name, obj.id]})

  =f.text_field(:match_on, :value => "2011-02-")
  =f.text_field(:match_at)

  = f.submit("Сохранить")

- form_for @schedule, :url => {:action => "import_from_csv"}, :html => {:multipart => true} do |ff|
  =ff.select(:tour_id, @tours.collect{|obj| [obj.name, obj.id]}, {:selected => @tours.last.id})
  =file_field(:upload, :datafile)
  =ff.submit("Import")

%ul{:style => "font-size: 14px;"}
  - @last_schedules.each do |schedule|
    %li{:style => "padding-bottom: 2px; border-bottom: 1px dashed grey;"}
      = "#{schedule.venue.short_name} - "
      = "#{Russian::strftime(schedule.match_on.to_date, "%A, %d %B %Y")}; #{schedule.match_at}"
      = "#{schedule.hosts.name} - #{schedule.guests.name}"
      = link_to("удалить", url_for(:controller => "temp", :action => "delete_schedule", :id => schedule.id))
:javascript
  $(function(){
    football.temp.schedule.team.init({teams_path: "#{url_for(:controller => "admin/temp", :action => "teams")}"});
  });  
